@model Alpaca.Portal.Web.ViewModels.Notices.Create

@{
    ViewData["Title"] = "お知らせ新規作成";
}

<h1>お知らせ新規作成</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoticeId" class="control-label"></label>
                <input asp-for="NoticeId" class="form-control" />
                <span asp-validation-for="NoticeId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="NoticeTitle" class="control-label"></label>
                <input asp-for="NoticeTitle" class="form-control" />
                <span asp-validation-for="NoticeTitle" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="NoticeBody" class="control-label"></label>
                <textarea asp-for="NoticeBody" class="form-control" ></textarea>
                <span asp-validation-for="NoticeBody" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

